body{
    background-color: rgb(253, 253, 124);
    font-family: sans-serif;
}

.header {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    
}
.header a{
    text-decoration: none;
    color: rgb(43, 43, 44);
    
}

ul{    
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 10px;
    font-size: 32px;
    background-color: aliceblue;
    padding: 30px;
    border: solid rgb(128, 81, 43);
    font-weight: 700;
    gap: 20px;
}

ul li:hover{
    background-color: rgb(126, 58, 253);
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuerpo2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerStudent{
    display: flex;
    align-items: end;
}

.containerStudent2{
    display: inline-block;
    align-items: center;
}

.labels{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.labels label{
    width: 200px;
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    border:2px solid;
    font-weight: 700;
    margin: 0.5px 0.5px 0.5px 100px;
    
}

.labels2{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.labels2 label{
    width: 300px;
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    border:2px solid;
    font-weight: 700;
    margin: 0.5px 0.5px 0.5px 200px;
    
}

.labels2 label:hover{
    background-color: rgb(126, 58, 253);
}

.barra{
    min-width: 30px;
    background-color: yellow;
    width: 30px;
    height: 320px;
    border:2px solid;
    border-radius: 10px;
}

.frases{
    margin-right: 200px;
    max-width: 300px;
    
}

.frases img{
    width: 400px;
}

.rightPerfil{
    width: 100px;
}

.recurso{
    display: flex;
}

.recurso fieldset{
    background-color: beige;
    width: 300px;
    height: 280px;
    margin-right: auto;
}

.recurso img{
    max-width: 50px;
}

.recurso fieldset{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.recurso label{
    float: right;
    justify-self: end;
    background-color: white;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    border: 2px solid;
}

footer img{
    max-width: 40px;
    margin-top: 10px;
}