.right-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    margin-inline: auto;
}

.right-button button{
    background-color: rgb(36, 47, 202);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    
}

.right-button button:hover{
    background-color: rgb(41, 188, 233);
    
}

.labelGroup {
    margin-bottom: 10px; /* Espacio entre cada grupo de etiqueta y valor */
}

.labelGroup label {
    justify-content: left;
    font-size: 26px;
    width: 180px;
    text-align: left;
    font-weight: 700;
    text-wrap: nowrap;
    margin-right: 120px;
}

.labelGroup span {
    flex: 1; /* Para que los spans ocupen todo el espacio restante */
    font-size: 24px; /* Tamaño de fuente */
    text-align: end; /*alineación centro*/
}

.rightPerfil{
    margin-top: 5px;
    margin-right: 50px;
}

footer{
    padding: 0;
}

.right-button a{
    color: white;
    font-size: 16px;
}
